.category{
    width: 241px;
    height: 272px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 10px;

    &__conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.3);
        border-radius: 20px;

            &:hover{
            background-color: rgb(0, 0, 0, 0.45);
        }
    }

    &__title{
        text-align: center;
        width: 100%;
        color: #fff;
        font-size: 32px;
        font-weight: 500;

         &:hover{
           font-weight: 450;
        }
    }
    a {
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .category{
    width: 100px;
    height: 131px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 5px;

    &__conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.3);
        border-radius: 20px;

            &:hover{
            background-color: rgb(0, 0, 0, 0.45);
        }
    }

    &__title{
        text-align: center;
        width: 100%;
        color: #fff;
        font-size: 12px;
        font-weight: 500;

         &:hover{
           font-weight: 450;
        }
    }
}
    a {
        text-decoration: none;
    }
}
