.city{
    width: 100%;
    &__container{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        margin-bottom: 30px;
    }

    &__image{
        width: 475px;
        height: 244px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }

      &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.3) 41%, 
    rgba(162, 162, 162, 0) 100%
  );
  }

  &__name{
    vertical-align: bottom;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding: 0px 0px 5px 0px;

  }

  &__kart{
    iframe{
        width: 253px;
        height: 244px;
    }
  }

  &__info{
    width: 404px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__string{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__main{
        color: #A2A2A2;
        font-size: 16px;
        font-weight: 550;
        margin: 0;
    }
    &__text{
        color: #A2A2A2;
        font-size: 16px;
        margin: 0;
    }
  }

  &__button{
    width: 104px;
    height: 39px;
    background-color: #2AAAE1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    border: none;

    &:hover{
        background-color: #2aaae183;
    }
  }

  &__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }

    &__button2{
    width: 104px;
    height: 39px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #2AAAE1;
    border: none;
    border-bottom: 1px solid #2AAAE1;

    &:hover{
        background-color: #2aaae15a;
        border-bottom: none;
        border-radius: 10px;
    }
  }
}


@media (max-width: 768px) {
    .city{
    width: 100%;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
        padding: 0px 10px;
        margin-bottom: 10px;
    }

    &__image{
        width: 100%;
        height: 144px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }

      &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.3) 41%, 
    rgba(162, 162, 162, 0) 100%
  );
  }

  &__name{
    vertical-align: bottom;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 0px 0px 0px 0px;

  }

  &__kart{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    iframe{
        width: 100%;
        height: 100%;
    }
  }

  &__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__string{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__main{
        color: #A2A2A2;
        font-size: 12px;
        font-weight: 550;
        margin: 0;
    }
    &__text{
        color: #A2A2A2;
        font-size: 12px;
        margin: 0;
    }
  }

  &__button{
    width: 80px;
    height: 33px;
    background-color: #2AAAE1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    border: none;

    &:hover{
        background-color: #2aaae183;
    }
  }

  &__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }

    &__button2{
    width: 80px;
    height: 33px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #2AAAE1;
    border: none;
    border-bottom: 1px solid #2AAAE1;

    &:hover{
        background-color: #2aaae15a;
        border-bottom: none;
        border-radius: 10px;
    }
  }
}
}