.goods{
    width: 100%;
    margin-bottom: 30px;
    &__container{
        padding: 0px 87px 0px 87px;
    }

    &__title{
        width: 100%;
        margin-bottom: 20px;
    }
    &__name{
        font-size: 48px;
        font-weight: 800;
        color: #545E6A;
    }


    &__top{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    &__images{
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__main{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        &__small{
            height: auto;
            width: 157px;
            height: auto;
            border-radius: 20px;
        }
        &__dop{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    &__info{
        width: 456px;
    }
    &__card{
        width: 100%;
        height: 228px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;

        &__prices{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            width: 260px;
            padding-bottom: 20px;
            border-bottom: 1px solid #A2A2A2;
        }
        &__price{
            width: 164px;
            height: 49px;
            background-color: #2AAAE1;
            border-radius: 20px 20px 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__text{
                color: #fff;
                font-weight: 500;
                font-size: 32px;
            }
            &__stock{
                color: #ADADAD;
                font-size: 16px;
                text-decoration: line-through;
            }
        }

        &__delivery{
            width: 208px;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 20px;

            &__block{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &__text{
                font-size: 16px;
                color: #A2A2A2;
            }
        }
    }


    &__details{
        width: 100%;
        display: flex;
        flex-direction: column;

        &__point{
            color: #545E6A;
            font-size: 32px;
            font-weight: 500;
        }
        &__text{
            color: #A2A2A2;
            font-size: 16px;
            margin: 0;
        }
        &__main{
            color: #A2A2A2;
            font-size: 20px;
            font-weight: 550;
            margin: 0;
        }
    }

    &__button{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }


    &__bottom{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 140px;
        &__left{
            width: 379px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__string{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            border-bottom: 1px solid #A2A2A2;
        }

        &__right{
            width: 569px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}


@media (max-width: 768px) {
    .goods{
    width: 100%;
    margin-bottom: 10px;
    &__container{
        padding: 0px 0px 0px 0px;
    }

    &__title{
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    &__name{
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        color: #545E6A;
    }


    &__top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0px;
    }

    &__images{
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        &__main{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        &__small{
            height: auto;
            width: 93px;
            height: auto;
            border-radius: 20px;
        }
        &__dop{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    &__info{
        width: 350px;
    }
    &__card{
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;

        &__prices{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            width: 161px;
            padding-bottom: 10px;
            border-bottom: 1px solid #A2A2A2;
        }
        &__price{
            width: 92px;
            height: 29px;
            background-color: #2AAAE1;
            border-radius: 10px 10px 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__text{
                color: #fff;
                font-weight: 500;
                font-size: 16px;
            }
            &__stock{
                color: #ADADAD;
                font-size: 10px;
                text-decoration: line-through;
            }
        }

        &__delivery{
            width: auto;
            display: block;
            justify-content: left;
            align-items: center;
            gap: 0px;

                &__block{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                flex-direction: row;
            }

            &__icon{
                display: none;
            }

            &__text{
                font-size: 10px;
                color: #A2A2A2;
            }
        }
    }


    &__details{
        width: 100%;
        display: flex;
        flex-direction: column;

        &__point{
            color: #545E6A;
            font-size: 14px;
            font-weight: 500;
        }
        &__text{
            color: #A2A2A2;
            font-size: 12px;
            margin: 0;
        }
        &__main{
            color: #A2A2A2;
            font-size: 12px;
            font-weight: 550;
            margin: 0;
        }
    }

    &__button{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }


    &__bottom{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 0px 5px;
        &__left{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__string{
            width: 97%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
            border-bottom: 1px solid #A2A2A2;
        }

        &__right{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}
}