.header {
  position: relative;
  padding: 20px 40px 0px 40px;
  margin-bottom: 20px;

  &__button{
  width: 151px;
  height: 39px;
  background-color: #2AAAE1;
  color: #fff;
  border-radius: 20px;
  border: none;
}

&__top{
    margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 10px 0px 10px 0px;
  background: linear-gradient(
    to right, 
    rgba(42, 170, 225, 0.5), 
    #FFFFFF 100%
  );
  &__city{
    display: flex;
    align-items: center;
    gap: 3px;
    padding-left: 50px;
  }

  &__text{
    color: #fff;
    font-size: 16px;
  }

  &__link{
    padding-right: 100px;
  }

  &__right{
    color: #545E6A;
    font-size: 16px;
  }
}
  
  .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.search-form {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid #A2A2A2;
  border-radius: 20px;
  min-width: 370px;
  height: 25px;
  gap: 5px;
  .search-button {
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #A2A2A2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    
    &__icon {
      width: 24px;
      height: 24px;
    }
    
    &__text {
      white-space: nowrap;
    }
  }
}

.burger {
  display: none;
}

.nav {
  &__list {
    width: 507px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__link {
    text-decoration: none;
    color: #2AAAE1;
    font-size: 16px;
    transition: color 0.3s;

    &__button{
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      margin-left: 15px;
    }
    
    &:hover {
      color: #A2A2A2;
    }
  }
}

.contacts {
  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #2AAAE1;
    font-size: 16px;
    
    &:hover {
      color: #A2A2A2;
    }
  }
}

.menu {
  background: #fff;
  width: 120px;
  height: 160px;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &.active {
        opacity: 1;
        visibility: visible;
    }
}



@media (max-width: 768px) {
.header {
  position: relative;
  width: 100%;
  max-width: 768px;
  min-width: 360px;
  padding: 10px 5px 0px 5px;
  margin-bottom: 10px;

    &__button{
    // display: flex;
    // justify-content: center;
    // align-items: center;
  width: 65px;
  height: 20px;
  background-color: #2AAAE1;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 0px 8px 0px 5px !important;

  &:hover{
    background-color: #2aaae185;
  }

  &__icon{
    display: none;
  }
}

&__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15px;
  padding: 5px 0px 5px 0px;
  background: linear-gradient(
    to right, 
    rgba(42, 170, 225, 0.5), 
    #FFFFFF 100%
  );
  &__city{
    display: flex;
    align-items: center;
    gap: 3px;
    padding-left: 20px;
    &__icon{
      width: 9px;
      height: 11px;
    }
  }

  &__text{
    color: #fff;
    font-size: 10px;
  }

  &__link{
    padding-right: 20px;
  }

  &__right{
    color: #545E6A;
    font-size: 10px;
  }
}
  
  .container {
    margin: 0 auto;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
}

.search-form {
    width: 100%;
    max-width: 110px;
    min-width: 71px;
    height: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
     border: 1px solid #A2A2A2;
  .search-button {
    width: 100%;
    height: 17px;
    background-color: #fff;
    color: #A2A2A2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
    
    &__icon {
      width: 12px;
      height: 12px;
    }
    
    &__text {
      white-space: nowrap;
    }
  }
}

.burger {
  display: block;
  margin-left: 0px;
}
.logo svg {
  margin-left: 3px;
  width: 59px;
  height: 8px;
}

.nav {
  display: none;
  &__list {
    width: 695px;
    display: block;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__link {
    text-decoration: none;
    color: #2AAAE1;
    font-size: 10px;
    transition: color 0.3s;

        &__button{
      color: #fff;
      text-decoration: none;
      font-size: 10px;
      margin-left: 5px;
    }
    
    &:hover {
      color: #A2A2A2;
    }
  }
}

.menu {
  border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px 40px;

  position: fixed;
  top: 7%;
  left: 62%;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

    &__contacts {
      display: block;
  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #2AAAE1;
    font-size: 10px;
    
    &:hover {
      color: #A2A2A2;
    }
  }
}
}
}
