.plus{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 237px;

  &__content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.3) 30%, 
    rgba(162, 162, 162, 0) 100%
  );
  }

  &__text{
    color: #fff;
    font-size: 24px;
    padding: 0 40px;

  }
}

@media (max-width: 768px) {
  .plus{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 152px;
  height: 113px;

  &__content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.3) 30%, 
    rgba(162, 162, 162, 0) 100%
  );
  }

  &__text{
    color: #fff;
    font-size: 10px;
    padding: 0 30px 0px 20px;

  }
}
}