.product {
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 538px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  
  &__image {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }
  }

  
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #2AAAE1;
    margin-bottom: 20px;
  }
  
  &__store {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
  }

  &__shop{
    font-size: 16px;
    color: #545E6A;
  }
  
  &__prices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  &__price {
    font-size: 32px;
    font-weight: 700;
    color: #545E6A;
  }
  
  &__stock {
    font-size: 16px;
    color: #A2A2A2;
    text-decoration: line-through;
  }
  
  &__link {
    width: 246px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2AAAE1;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
    margin: 0 auto;
    margin-bottom: 10px;
    
    &:hover {
      background: rgba(42, 170, 225, 0.5);
    }
  }
}

@media (max-width: 768px) {
    .product {
  border: none;
  border-radius: 20px;
  width: 105px;
  height: 186px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
  &__image {
    width: 100%;
    height: 87px;
    margin-bottom: 5px;
    
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    height: 25px;
    text-align: center;
    font-size: 11px;
    font-weight: 300;
    color: #2AAAE1;
    margin-bottom: 0px;
  }
  
  &__store {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
  }

  &__icon{
    width: 9px;
    height: 9px;
  }

  &__shop{
    font-size: 6px;
    color: #545E6A;
  }
  
  &__prices {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 0px;
  }
  
  &__price {
    font-size: 10px;
    font-weight: 500;
    color: #545E6A;
  }
  
  &__stock {
    font-size: 6px;
    color: #A2A2A2;
    text-decoration: line-through;
  }
  
  &__link {
    width: 54px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2AAAE1;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 8px;
    font-weight: 300;
    transition: all 0.3s;
    margin: 0 auto;
    margin-bottom: 5px;
    
    &:hover {
      background: rgba(42, 170, 225, 0.5);
    }
  }
}
}