.slide {
  position: relative;
  height: 467px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  

  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  
  .container {
    position: relative;
    width: 100%;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 0px 50px 0px 0px;
    width: 100%;
    height: 248px;

  }
  
  &__title {
    margin-bottom: 0;
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}

&__text{
    font-size: 32px;
    color: #fff;
}
}


@media (max-width: 768px) {
  .slide {
  position: relative;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  

  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  
  .container {
    position: relative;
    width: 100%;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 0px 20px 0px 0px;
    width: 100%;
    height: 150px;

  }
  
  &__title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

&__text{
    font-size: 14px;
    color: #fff;
}
}
}
