.stock{
    width: 305px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    flex: 0 0 auto; // запрещаем сжатие/растяжение
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;

    &__content{
        height: 371px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 20px;
    }

    &__block{
        display: flex;
        justify-content: flex-start;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.4) 41%, 
    rgba(0, 0, 0, 0) 100%, 
  );
    }

    &__title{
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        padding: 30px 30px 0px 30px;
    }

    &__info{
        width: 100%;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__sale{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 132px;
        height: 46px;
        background-color: #2AAAE1;
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        border-radius: 0px 20px 20px 20px;
        margin-left: 20px;
    }

    &__text{
        color: #a2a2a2;
        font-size: 16px;
    }

    &__link{
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: #2AAAE1;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .stock{
    width: 122px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    flex: 0 0 auto; // запрещаем сжатие/растяжение
    scroll-snap-align: start;

    &__content{
        height: 123px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 5px;
    }

    &__block{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.4) 41%, 
    rgba(0, 0, 0, 0) 100%, 
  );
    }

    &__title{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 15px 0px 0px 10px;
    }

    &__info{
        width: 100%;
        height: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 5px;
    }

    &__sale{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 112px;
        height: 19px;
        background-color: #2AAAE1;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        border-radius: 0px 20px 20px 20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    &__text{
        text-align: center;
        color: #a2a2a2;
        font-size: 8px;
    }

    &__link{
        display: flex;
        justify-content: center;
        font-size: 8px;
        color: #2AAAE1;
    }
}
}