.store{
    width: 250px;
    height: 335px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

    &__logo{
        width: 100%;
        height: 168px;
        border-radius: 20px 20px 0px 0px;
    }


    &__content{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:15px;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height: 154px;
        padding-top: 10px;
        background: linear-gradient(
        to top,
        rgba(84, 94, 106, 0.5) 0%, 
        rgba(84, 94, 106, 0.4) 71%, 
        rgba(84, 94, 106, 0) 100%
    );
    }

    &__title{
        font-size: 24px;
        color: #545E6A;
        font-weight: 550;
        margin: 0;
    }

    &__string{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0px 10px;
    }

    &__text{
        font-size: 16px;
        color: #fff;
        margin: 0;
        text-decoration: none;
    }

        &__point{
        font-size: 16px;
        color: #545E6A;
        margin: 0;
    }

    a{
        &:hover{
            text-decoration: underline;
        }
    }
}


@media (max-width: 768px) {
    .store{
    width: 130px;
    height: 182px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

    &__logo{
        width: 100%;
        height: 80px;
        border-radius: 20px 20px 0px 0px;
    }

    &__icon{
        display: none;
    }


    &__content{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height: 95px;
        padding-top: 5px;
        background: linear-gradient(
        to top,
        rgba(84, 94, 106, 0.5) 0%, 
        rgba(84, 94, 106, 0.4) 71%, 
        rgba(84, 94, 106, 0) 100%
    );
    }

    &__title{
        font-size: 12px;
        color: #545E6A;
        font-weight: 550;
        margin: 0;
    }

    &__string{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding: 0px 5px;
    }

    &__text{
        font-size: 10px;
        color: #fff;
        margin: 0;
        text-decoration: none;
    }

        &__point{
        font-size: 10px;
        color: #545E6A;
        margin: 0;
    }

    a{
        &:hover{
            text-decoration: underline;
        }
    }
}
}