.string{
    width: 100%;
    height: 131px;
    margin-bottom: 30px;
    margin-top: 30px;
    background: linear-gradient(
    to right, 
    rgba(42, 170, 225, 0.5), 
    #FFFFFF 100%
  );

  &__container{
    padding-left: 50px;
  }

  &__title{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 131px;
  }
}

@media (max-width: 768px) {
  .string{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: linear-gradient(
    to right, 
    rgba(42, 170, 225, 0.5), 
    #FFFFFF 100%
  );

  &__container{
    padding-left: 50px;
  }

  &__title{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 40px;
  }
}
}