.type{
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 205px;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    flex: 0 0 auto; // запрещаем сжатие/растяжение
    scroll-snap-align: start;

  &:hover {
    .type__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.3) 41%, 
    rgba(162, 162, 162, 0) 100%
  );
  }

  &__text{
    vertical-align: bottom;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 0px 0px 30px 0px;
  }

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0; // скрыто по умолчанию
    visibility: hidden; // скрыто по умолчанию
    transition: all 0.3s ease;
    z-index: 10;

    &__button{
        width: 78px;
        height: 23px;
        background-color: #fff;
        color: #2AAAE1;
        font-size: 10px;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #ffffff7d;
        }
    }
  }
  a{
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .type{
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 110px;

position: relative;
    overflow: hidden;
    cursor: pointer;

    flex: 0 0 auto; // запрещаем сжатие/растяжение
    scroll-snap-align: start;

      &:hover {
    .type__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content{
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(0, 0, 0, 0.3) 71%, 
    rgba(162, 162, 162, 0) 100%
  );
  }

  &__text{
    color: #fff;
    font-size: 10px;
    padding: 0px 0px 20px 0px;

  }


&__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 0; // скрыто по умолчанию
    visibility: hidden; // скрыто по умолчанию
    transition: all 0.3s ease;
    z-index: 10;

    &__button{
        width: 50px;
        height: 13px;
        background-color: #fff;
        color: #2AAAE1;
        font-size: 10px;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #fff;
        }
    }
  }
}
}