<article class="choice">
    <div class="choice__image" style="background-image: url(@@img);">  
        <div class="choice__title">
            <p class="choice__text">@@text</p>
        </div>         
    </div>

  <div class="choice__content">
    @@if (context.title1) {
    <a href="/">@@title1</a>
    }

    @@if (context.title2) {
    <a href="/">@@title2</a>
    }

    @@if (context.title3) {
    <a href="/">@@title3</a>
    }

    @@if (context.title4) {
    <a href="/">@@title4</a>
    }

    @@if (context.title5) {
    <a href="/">@@title5</a>
    }

    @@if (context.title6) {
    <a href="/">@@title6</a>
    }

    @@if (context.title7) {
    <a href="/">@@title7</a>
    }
  </div>
</article>