<section class="sity">
    <div class="city__container">

        <div class="city__image" style="background-image: url(@@img);">
  <div class="city__content">
    <p class="city__name">@@title</p>
  </div>
</div>


<div class="city__kart" style="width: 253px; height: 244px; border-radius: 20px; overflow: hidden;">
  <iframe 
    src="@@link" 
    frameborder="0"
    style="border:0; border-radius: 20px;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0">
  </iframe>
</div>

<div class="city__info">
    <div class="city__string">
         <p class="city__string__main">Адрес</p>
        <p class="city__string__text">@@adress</p>
    </div>

        <div class="city__string">
         <p class="city__string__main">Телефон аренды</p>
        <p class="city__string__text">@@number</p>
    </div>

        <div class="city__string">
         <p class="city__string__main">Телефон магазина</p>
        <p class="city__string__text">@@number2</p>
    </div>

        <div class="city__string">
         <p class="city__string__main">E-mail</p>
        <p class="city__string__text">@@mail</p>
    </div>

    <div class="city__buttons">
        <button  class="city__button">Позвонить</button>
        <button  class="city__button2">Написать</button>
    </div>
</div>
    </div>
</section>