<section class="new">
    <div class="new__container">
        <div class="new__info">
            <div class="new__logo">
                <span class="new__shop">НОВИНКА</span>
            </div>
            <p class="new__text">@@text</p>
        </div>

        <div class="new__image" style="background-image: url(@@img);">
  <div class="new__content">
    <p class="new__title">@@title</p>
    <div class="new__store">
        <img src="./assets/images/shopW.webp" class="new__icon">
        <span class="new__shop">@@shop</span>
    </div>
  </div>
</div>
    </div>
</section>