<section class="store">
    <div class="store__container">
        <img src="@@img" class="store__logo">
        <div class="store__content">
            <h class="store__title">@@title</h>
            <div class="store__string">
                <img src="./assets/images/shop.webp" class="store__icon">
                <p class="store__text">Секция: @@number</p>
            </div>

            <div class="store__string">
                <span class="store__point">Телефон: </span>
                <p class="store__text">@@phone</p>
            </div>

                        <div class="store__string">
                <span class="store__point">Сайт: </span>
                <a href="@@link" class="store__text">@@link</a>
            </div>

            
        </div>
    </div>
</section>