// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/button-link';
@use 'components/header';
@use 'components/footer';
@use 'components/plus';
@use 'components/slide';
@use 'components/hello';
@use 'components/overlay';
@use 'components/string';
@use 'components/type';
@use 'components/product-card';
@use 'components/stock';
@use 'components/category';
@use 'components/choice';
@use 'components/goods';
@use 'components/new';
@use 'components/city';
@use 'components/store';


body{
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.slider{
    width: 100%;
    height: 467px;
    margin-bottom: 30px;

    position: relative;
    overflow: hidden;


    &__container{
        display: flex;
        width: 400%;
        animation: slide 24s infinite;
        animation-timing-function: linear;
    }

    &__first{
        width: 100%;
        height: 467px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &__content{
            display: flex;
            flex-direction: column;
            gap: 60px;
            padding: 93px 100px 0px 80px;
        }
    }

    &__title{
        color: #545E6A;
        font-size: 64px;
        font-weight: 700;
    }

    &__text{
        color: #545E6A;
        font-size: 32px;
    }

    &__icons{
        display: flex;
        align-items: center;
        gap: 100px;
    }

    &__icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        &__text{
            color: #fff;
            font-size: 13px;
        }
    }
}

@keyframes slide {
 0% { transform: translateX(0%); }
  20% { transform: translateX(0%); }
  25% { transform: translateX(-25%); }
  45% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  70% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  95% { transform: translateX(-75%); }
  100% { transform: translateX(0%); }
}

.pluses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0;
    margin-bottom: 30px;
}

.types{
    position: relative;
    width: 100%;
    margin-bottom: 30px;

    &__button{
        width: 170px;
        height: 39px;
        background-color: #2AAAE1;
        font-size: 16px;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        border-radius: 20px;

        &:hover{
            background-color: rgba(162, 162, 162, 0.5);
        }
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__arrow{
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.3s;
        z-index: 10;

         &:hover {
      transform: scale(1.1);
    }
}

    &__slider{
    width: 1076px;
    height: 205px;
    overflow: hidden;
    position: relative;
    
    display: flex;
    gap: 35px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    // scrollbar-width: none; // Firefox
    // -ms-overflow-style: none; // IE/Edge
    }
        a{
        text-decoration: none;
    }
}

.popular{
    width: 100%;
    margin-bottom: 30px;
    &__container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        gap: 100px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
        a{
        text-decoration: none;
    }
}


.stocks{
    position: relative;
    width: 100%;
    height: 526px;
    margin-bottom: 15px;

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__slider{
    width: 100%;
    max-width: 1076px;
    height: 526px;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    padding-bottom: 15px;
    
    display: flex;
    gap: 25px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    // scrollbar-width: none; // Firefox
    // -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
            display: none;
        }
    }
}

.banner{
    width: 100%;
    height: 476px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     position: relative;

    &__container{
    position: relative; /* Добавляем */
    z-index: 2; /* Чтобы контент был поверх фона */
    height: 100%; /* Занимает всю высоту баннера */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: #fff;
    text-align: center;

    svg{
        width: 251px;
        height: 33px;
    }
    }

    &__text{
        font-size: 24px;
    }
}

// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2

.categories {
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;

    }
}

// СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3
// СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3

.choices{
    width: 100%;
    &__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }
}


// СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5
// СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5

.new-stocks{
    width: 100%;
    &__container{
        padding: 0px 50px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
        margin-bottom: 30px;
    }
}

.news{
    width: 100%;
    &__container{
        padding: 0px 50px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}

// СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6
// СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6

.cities {
    width: 100%;
    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

// СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7
// СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7

.shops{
    width: 100%;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        row-gap: 20px;
        margin-bottom: 30px;
    }
    &__image{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}



@media (max-width: 768px) {
    body{
        width: 100%; // вместо 768px
        max-width: 100vw; // ограничение по ширине вьюпорта
        margin: 0;
        padding: 0;
        background: #fff;
}

.slider{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;

    position: relative;
    overflow: hidden;


    &__container{
        display: flex;
        width: 400%;
        animation: slide 24s infinite;
        animation-timing-function: linear;
    }

    &__first{
        width: 100%px;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &__content{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 23px 30px 0px 30px;
        }
    }

    &__title{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }

    &__text{
        color: #fff;
        font-size: 14px;
    }

    &__icons{
        display: none;
        align-items: center;
        gap: 100px;
    }
}

@keyframes slide {
 0% { transform: translateX(0%); }
  20% { transform: translateX(0%); }
  25% { transform: translateX(-25%); }
  45% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  70% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  95% { transform: translateX(-75%); }
  100% { transform: translateX(0%); }
}


.pluses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    row-gap: 20px;
    margin-bottom: 10px;
}


.types{
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    &__button{
        width: 130px;
        height: 19px;
        background-color: #2AAAE1;
        font-size: 12px;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        border-radius: 20px;

        &:hover{
            background-color: rgba(162, 162, 162, 0.5);
        }
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__arrow{
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.3s;
        z-index: 10;

        svg{
            width: 24px;
            height: 24px;
        }

         &:hover {
      transform: scale(1.1);
    }
}

    &__slider{
    width: 308px; // фиксированная ширина как вы хотели
    height: 110px; // высота контейнера
    overflow: hidden; // скрываем всё что выходит за границы
    position: relative;
    
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    // scrollbar-width: none; // Firefox
    // -ms-overflow-style: none; // IE/Edge
    }
}

.popular{
    width: 100%;
    margin-bottom: 10px;
    &__container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}


.stocks{
    position: relative;
    width: 100%;
    height: 210px;
    margin-bottom: 15px;

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    &__slider{
    width: 100%;
    max-width: 1076px;
    height: 210px;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    padding-bottom: 5px;
    
    display: flex;
    gap: 5px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    // scrollbar-width: none; // Firefox
    // -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
            display: none;
        }
    }
}


.banner{
    width: 100%;
    height: 199px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     position: relative;

    &__container{
    position: relative; /* Добавляем */
    z-index: 2; /* Чтобы контент был поверх фона */
    height: 100%; /* Занимает всю высоту баннера */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    text-align: center;

    svg{
        width: 132px;
        height: 17px;
    }
    }

    &__text{
        font-size: 10px;
    }
}

// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2

.categories {
    width: 100%;
    height: auto;
    margin-bottom: 5px;

    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        row-gap: 10px;
        justify-content: center;
        align-items: center;

    }
}


// СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3
// СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3СТРАНИЦА3

.choices{
    width: 100%;
    &__container{
        padding: 0px 5px 0px 5px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

// СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5
// СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5СТРАНИЦА5
.news{
    width: 100%;
    &__container{
        padding: 0px 10px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.new-stocks{
    width: 100%;
    &__container{
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
            margin-bottom: 10px;
    }
}


// СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6
// СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6СТРАНИЦА6

.cities {
    width: 100%;
    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5px;
    }
}

// СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7
// СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7СТРАНИЦА7

.shops{
    width: 100%;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        row-gap: 10px;
        margin-bottom: 10px;
    }
    &__image{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

}
